<!Doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>City Population</title>
</head>

<body>
    <div class="container col-md-8">
  <form>
    <div class="form-group row">
      <label for="cityName" class="col-sm-2 col-form-label">City Name:</label>
      <div class="col-md-4">
        <input type= "text" ng-model="vm.cityName" class="form-control" / >
      </div>
    </div>
    <div class="form-group row">
     <label for="location" class="col-sm-2 col-form-label">location:</label>
      <div class="col-md-4">
        <input type= "text" ng-model="vm.location" class="form-control" / >
      </div>
    </div>   
    <div class="form-group row">
     <label for="population" class="col-sm-2 col-form-label">population:</label>
      <div class="col-md-4">
        <input type= "text" ng-model="vm.population" class="form-control" / >
      </div>
    </div>  
    <div class="form-group row">
     <label for="stateName" class="col-sm-2 col-form-label">stateName:</label>
      <div class="col-md-4">
        <input type= "text" ng-model="vm.stateName" class="form-control" / >
      </div>
    </div>  
    <div class="form-group row">
     <label for="zipcode" class="col-sm-2 col-form-label">zipcode:</label>
      <div class="col-md-4">
        <input type= "text" ng-model="vm.zipcode" class="form-control" / >
      </div>
    </div>  
    <div class="form-group row">
      <div class="col-md-2">
       <button class="form-control">save</button>
      </div>
        <div class="col-md-2">
       <button class="form-control">update</button>
      </div>
    </div> 
  </form>
</div>
</body>
</html>
